body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.input {
  outline: none !important;
}

.input.green {
  border: 1px solid green;
}

.input.red {
  border: 1px solid red;
}

.input.bold {
  border: 2px solid green;
  font-weight: bold;
}
